@use "../../scss/" as *;

.banner-container {
  display: flex;
  align-items: center;
  position: relative;
  height: 100vh;
  width: 100%;
  margin-bottom: 60px;

  .banner-item {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    @include tablet {
      flex-direction: column-reverse;
    }
  }

  .content {
    width: 60%;
    margin-right: 80px;

    .title {
      margin-bottom: 60px;
      color: $primary;
      line-height: 3.5rem;
      overflow: hidden;
      h1 {
        font-size: 3.5rem;
        transition: all ease 0.5s;
        transform: translateY(-100%);
      }
    }

    .description {
      margin-bottom: 60px;
      overflow: hidden;
      p {
        transition: all ease 0.5s;
        transform: translateY(-100%);
      }
    }

    .btn-container {
      overflow: hidden;

      .btn {
        text-transform: uppercase;
        display: inline-block;
        transition: all ease 0.5s;
        transform: translateY(-100%);
        &:hover {
          color: $white;
        }
      }
    }
    @include tablet {
      width: 100%;
      margin-right: 0;
      .title {
        margin-bottom: 0;
      }
      .description {
        margin-bottom: 20px;
      }
    }
  }

  .image {
    flex: 1;
    z-index: 100;
    position: relative;

    @include tablet {
      width: 40%;
    }

    img {
      transition: all ease 0.5s;
      transform: scale(0) rotate(30deg);
    }

    .bg-image {
      padding-top: 100%;
      width: 100%;
      position: absolute;
      right: 0;
      top: 50%;
      border-radius: 58% 42% 38% 62%/42% 55% 45% 58%;
      transform: translateY(-50%);
      transition: border-radius 13s ease;
      animation: border 10s infinite;
      background-color: $primary;
      z-index: -1;
    }
  }

  .pagination {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
  }

  .active {
    opacity: 1;
    visibility: visible;
    // pointer-events: visible;

    .title {
      h1 {
        transform: translateY(0);
      }
    }

    .description {
      p {
        transform: translateY(0);
      }
    }
    .btn-container {
      .btn {
        transform: translateY(0);
      }
    }

    img {
      transform: scale(1) rotate(0);
    }
  }
}
